.blog {
    width: 80%;
    margin: 3rem auto;
    text-align: center;
}

.blog--image {
    width: 100%;
    text-align: center;
}

.blog--image img {
    width: 100%;
    margin: 2rem auto;
}

.blog--date {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: 300;
    text-align: left;
}


.blog--para {
    line-height: 2.2;
    text-align: justify;
}
