.main-contact {
  display: flex;
  font-family: 'Poppins', sans-serif;
}

form {
  flex: 0 0 60%;
  margin-right: 2rem;

}

.form-col {
  display: flex;
  justify-content: space-between;
}

.f1 {
  flex: 0 0 48%;
}

.f2 {
  flex: 0 0 40%;
}

.form-col input {
  width: 100%;
}

.form-group {
  margin-bottom: .8rem;
  font-family: 'Poppins', sans-serif;
}

label {
  display: block;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

input {
  width: 100%;
  border: 1.2px solid var(--green);
  padding: 10px;
  font-size: 1rem;
  border-radius: 
}

textarea {
  resize: none;
  width: 100%;
  border: 1.2px solid var(--green);

}

aside {
  margin-top: 3rem;
}

.cg .fas {
  color: var(--green)
}


form .btn--submit {
  border: 2px solid var(--green);
  padding: .8rem 1.2rem;
  color: var(--green);
  font-weight: bold;
  font-size: 1.2rem;
  width: fit-content;
  border-radius: 5px;
  background-color: white;
}

form p {
  font-family: 'Poppins', sans-serif;
  padding: 1rem 0;
}

.prompt {
  padding-bottom: .5rem;
}

@media only screen and (max-device-width: 900px) {

  .main-contact {
    display: block;
  }

  aside {
    display: none;
  }
}

.signup input, .signin input {
  width: 100%;
  max-width: 30rem;
}