.billboard {
  background: linear-gradient(to right, rgba(100, 110, 112, 0.52),  rgba(106, 194, 43, 0.3)), url("../images/little_girl_posing.jpg") left 40% bottom 60%/cover no-repeat;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-top: 0rem;
  position: relative;
}

.billboard--content {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1.2px;
  color: white;
  position: absolute;
  top: 40%;
  padding: 0 2.5rem;
  padding: 4rem 0rem 0rem 2rem;
  margin-left: 1rem;
  background-color: transparent;
}

.billboard--content h1 {
  font-size: 3rem;
  margin-bottom: .2rem;
}

@media only screen and (max-device-width: 900px) {
  .billboard--content h1 {
    font-size: 1.5rem;
    margin-bottom: -3rem;
  }
}
